.bookContainer {
    display: grid;
    margin: 50px 0px;
    gap: 20px;
    grid-template-columns: 300px 1fr 200px;
}
h2 {
    font-size: 24px;
    font-weight: 400;
}
p {
    font-size: 20px;
    font-weight: 400;
}
.midlBookElement{
    width: 860px;
}
.bookImageBig {
    width: 300px;
    height: 400px;
    background: gray;
    border-radius: 15px;
    object-fit: inherit;
}
.bookButton {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 20px;
}
.bookAuthorHeader {
    margin-top: 10px;
}

.bookRaitingContainer {
    display: flex;
    align-items: center;
}
#bookRaiting {
    margin-right: 5px;
}
#bookSell {
    margin-top: 10px;
}
#bookRent {
    margin-top: 10px;
}
.rightBookElement {
    position: sticky;
    bottom: 0;
}
