.bookOriginalDescription {
    margin: 10px 0;
    max-height: 200px;
    overflow: hidden;
}
.bookOriginalDescription.full {
    max-height: 100%;
}
.fullBookDescriptionBtn {
    width: 155px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}
.fullBookDescriptionBtn:hover {
    transform: scale(1.2);
}
.bookDescriptionContainer {
    margin-top: 20px;
}
